@using AGCI.Models
@model AGCI.Models.Area

@{
    ViewBag.Title = "Eliminar";
}

<div class="formpanel panel-default">
    <div class="panel-heading">
        <h3 class="text-center">Eliminar Área</h3>
    </div>
    <div class="panel-body">
        <h3 class="alert-danger">¿Realmente desea eliminar esta área?</h3>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UnidadOrganizativa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UnidadOrganizativa.Nombre)
            </dd>
           

        </dl>
        <div class="panel-footer">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="col-md-offset-9 col-md-3">
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                    <a class="btn btn-default" href="@Url.Action("Index","Area")">Cancelar</a>
                </div>
            </div>
            }
        </div>
    </div>

</div>

