@model IEnumerable<AGCI.Models.ContenidoGuia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Guia.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CGR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Otros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoPreguntas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Si)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Np)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Responsable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JefeInmediato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComponenteDescripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Norma)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Guia.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CGR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Otros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoPreguntas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Si)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Np)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Responsable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JefeInmediato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComponenteDescripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Norma)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
