@model AGCI.ViewModels.ParamViewModel

@{
    ViewBag.Tittle = "Guia de AutoControl";
}

@using (Html.BeginForm("GuiaAutoControl", "Reportes", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="formpanel panel-default">
        
        <div class="panel-heading">
            <h3 class="text-center"><i class="glyphicon glyphicon-stats"></i> Generar Guia de AutoControl</h3>
        </div>
        <div class="panel-body">
            <p class="alert-success"><strong>Nota:</strong> Utilice los diferentes filtros de búsqueda para obtener la información que desee</p>

            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.AreaId, "Area", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("AreaId", null, String.Empty, new { @class = "form-control select", @chosen="chosen" })
                        @Html.ValidationMessageFor(model => model.AreaId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Mes, "Mes", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Mes", null, String.Empty, new { @class = "form-control select", @chosen="chosen" })
                        @Html.ValidationMessageFor(model => model.Mes)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Año, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Año)
                        @Html.ValidationMessageFor(model => model.Año)
                    </div>
                </div>

            </div>

        </div>
        <div class="panel-footer text-right">
            <div class="form-group">
                <input type="submit" value="Generar reporte" class="btn btn-success" />
                <a class="btn btn-info" href="@Url.Action("Index","Inicio")">Cancelar</a>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".select").chosen();
          
            $('.chzn-single').chosen();
        });
    </script>
}
